#profile-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}
#profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px 0px 0px;
  padding: 20px;
  background-color: #333341;
  box-shadow: #37ebea 2px 2px;
  color: #37ebea;
}
#avatar-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
#avatar {
  border-radius: 100px;
  border: 2px solid #37ebea;
  margin-right: 10px;
}
#favorite-game {
  width: 100%;
  margin: 10px 0px 0px 0px;
}
#favorite-game-text {
  font-weight: bold;
}
#favorite-game-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 10px 0px 0px 0px;
}
#favorite-game-image {
  border-radius: 15px;
  margin: 0px 0px 0px 20px;
}
#recently-played {
  width: 100%;
  margin: 10px 0px 0px 0px;
}
#recently-played-text {
  font-weight: bold;
}
#recently-played-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 0px 0px;
  color: white;
}
#recently-played-game-image {
  border-radius: 15px;
  margin: 0px 0px 0px 20px;
}