#profile-intro {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;

  color: #37ebea;

  font-size: 35px;
}

#profile-avatar {
  margin-bottom: 20px;
  border: 2px solid #37ebea;
  border-radius: 100px;
}
#profile-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 35px;
  margin-left: 25vh;
  margin-right: 25vh;

  background-color: #333341;
}
#profile-personal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 30px;
}
#profile-favorite-game-add, #profile-recent-game-add {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #37ebea;

  margin-top: 10px;
  margin-bottom: 10px;
}

i {
  color: #37ebea;
  margin: 0px 10px;
}

#profile-name2, #profile-steam, #profile-discord, #profile-location {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
  color: #37ebea;
}

#favorite-game-image {
  border: 2px solid #37ebea;
  border-radius: 100px;
  margin: 0px 20px 0px 0px;
}

#profile-favorite-game-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

#favorite-game-text {
  display: flex;
  flex-direction: column;
}

#logout {
  background-color: #222230;
  color: #37ebea;
  font-family: quicksand;
  font-size: 20px;
  border: none;
  margin: 20px 0px 20px;
}