#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px 0px;
  color: #37ebea;
  font-size: 35px;
}
#profile-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 35px 25vh 0px 25vh;
  padding: 20px;
  background-color: #333341;
  box-shadow: #37ebea 2px 2px;
}
#personal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px 30px 0px;
}
#avatar {
  margin: 20px 0px 20px 0px;
  border: 2px solid #37ebea;
  border-radius: 100px;
}
#name, #steam, #discord, #location {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
  color: #37ebea;
}
#favorite-game, #recent-game {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #37ebea;
  margin-top: 10px;
  margin-bottom: 10px;
}
i {
  color: #37ebea;
  margin: 0px 10px;
}
#favorite-game-details, #recent-game-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
#favorite-game-image, #recent-game-image {
  border: 2px solid #37ebea;
  border-radius: 100px;
  margin: 0px 20px 0px 0px;
}
#favorite-game-text, #recent-game-text {
  display: flex;
  flex-direction: column;
}
#logout {
  background-color: #222230;
  color: #37ebea;
  font-family: quicksand;
  font-size: 20px;
  border: none;
  margin: 20px 0px 20px;
}
button {
  padding: 0px;
  margin: 0px;
  background-color: #333341;
  border: none;
}